body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.calculator{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: rgb(114, 151, 114);
    border: 3px solid black;
    border-radius: 2px;
    padding: 5px;
}

.display{
    width: 100%;
    height: 40px;
    text-align: right;
    font-size: 30px;
    border: 3px solid rgb(82, 82, 82);
    border-radius: 5px;
    box-sizing: border-box;
    background-color: aliceblue;
}

.display p{
    margin: 0;
    padding: 0 5px 0 0;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.box-1{
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-basis: 70%;
}

.operands{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.operators{
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-basis: 21%;
}

.clr-back{
    display: flex;
    gap: 5px;
}

.clr-back button{
    background-color: rgb(185, 185, 185);
}

.clr-back button:hover{
    background-color: rgb(155, 155, 155);
}

.clr-back button:active{
    background-color: rgb(207, 207, 207);
}

.operand,
#sep,
#minus{
    flex: 1 0 30%;
    background-color: rgb(131, 207, 218);
}

.operand:hover,
#sep:hover,
#minus:hover{
    background-color: rgb(99, 156, 165);
}

.operand:active,
#sep:active,
#minus:active{
    background-color: rgb(174, 222, 230);
}

.operator,
#eq{
    background-color: rgb(223, 199, 170);
}

.operator:hover,
#eq:hover{
    background-color: rgb(167, 147, 124);
}

.operator:active,
#eq:active{
    background-color: rgb(247, 236, 223);
}

button{
    font-size: 30px;
    border: 3px solid rgb(82, 82, 82);
    border-radius: 5px;
    text-align: center;
    height: fit-content;
}